body  {
    background-color: lightblue;
}
#hexadecimal {
    background-color: #33ab42;

}
#skrocony-hexadecimal {
    background-color: #f49;
}
#rgb {
    background-color: rgb(33, 55, 123);
}
#rgba {
    background-color: rgba(255, 165, 0, 0.2)
}